# {{rust_type}}

{{description}}

<table>
    <tr><th>Field</th><th>Type</th><th>Description</th><th>Default</th></tr>
    {{#each fields}}
        <tr id="{{field_name}}">
            <td><code>{{~ field_name ~}}</code></td>
            {{#if (eq kind "primitive")}}
            <td><code>{{~ data_type ~}}</code></td>
            {{else}}
            <td><code><a class='link' href="../{{~ data_type ~}}">{{~ data_type ~}}</code></td>
            {{/if}}
            <td>
                {{~ description ~}}
            </td>
            <td>
                {{~ #if default includeZero=true ~}}
                    {{~ default ~}}
                {{~ /if ~}}
            </td>
        </tr>
    {{/each}}
</table>
