{{! Copyright 2024 The Fuchsia Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. }}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ css_path }}">
</head>

<body>
    <div id="header">
        <div>
            <a href="{{ root_link }}">Root</a>
        </div>
        <div>
            {{ page_title }}
        </div>
    </div>
    {{{ body_content }}}
</body>

</html>